.alert-debug {
    background-color: #fff;
    border-color: #d6e9c6;
    color: #000; }

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48; }

.navbar {
    border-radius: 0; }

.navbar-fixed-side-left {
    left: 0; }

.navbar-fixed-side {
    z-index: 1000;
    min-height: 5px;
    min-width: 5px;
    margin-bottom: 0;
    border: 0 solid transparent;
    padding: 0; }

.navbar-fixed-side .nav > li > a {
    height: 100%;
    width: 100%; }

.navbar-fixed-side .navbar-nav {
    margin: 0; }

.navbar-fixed-side .navbar-nav > li {
    padding: 0;
    display: inline-block;
    transition: all 430ms; }

.navbar-fixed-side .navbar-nav > li > a {
    line-height: 50px;
    transition: all 430ms; }

@media screen and (min-width: 768px) {
    .navbar-fixed-side .navbar-nav > li:hover {
        margin-left: -25%;
        width: 125%;
        transition: all 430ms; }
    .navbar-fixed-side .navbar-nav > li > a:hover {
        padding-left: 30%;
        width: 100%;
        transition: all 430ms; } }

.underline {
    height: 1px;
    width: 100%;
    background-color: #CCCCCC;
    border: 0 solid transparent; }

.navbar-fixed-side .container {
    width: 100%;
    padding: 0; }

.m-b-1 {
    margin: 0 !important; }

#main-wrapper {
    padding: 20px 0 20px 0; }

.main-content {
    margin-top: 5px;
    padding: 5px; }

.text-shade {
    background: linear-gradient(rgba(54, 25, 25, 0.8), rgba(54, 25, 25, 0));
    padding-bottom: 40px; }

#about {
    color: honeydew;
    background-size: cover;
    height: 80vh; }

.available {
    opacity: 1;
    transition: 5s; }

.deleting {
    opacity: 0.3;
    transition: 450ms; }

.delete-failed {
    opacity: 1;
    background-color: #b31e00; }

.mid-filler {
    -ms-flex-positive: 1;
    flex-grow: 1; }

.list-title {
    font-size: 1.875em; }

.list-heading {
    padding: 20px 20px 20px 20px; }

.flex {
    display: -ms-flexbox;
    display: flex; }

.list-group-item {
    padding: 30px 30px 30px 30px; }

.gallery-wrapper {
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.1);
    transition: all 430ms ease-in-out; }

.gallery-wrapper:hover {
    padding: 1px;
    opacity: 0.7;
    transition: all 430ms ease-in-out; }

.gallery-image-strip {
    background-color: rgba(88, 88, 88, 0.1);
    padding: 0; }

.img-strip {
    padding: 3%; }

.text-center {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100%; }

a:hover {
    text-decoration: none; }

.image-detail-wrapper {
    padding: 5px; }

.delete-button-image {
    border-radius: 0;
    padding: 1px; }

.img-detail {
    opacity: 1;
    transition: all 430ms ease-in-out; }

.img-detail:hover {
    opacity: 0.8;
    transition: all 430ms ease-in-out; }

.gallery-add-button {
    background-color: whitesmoke; }

.gallery-add-button:hover {
    background-color: lightgrey; }

[hidden][style="display: block;"] {
    display: block !important; }

/* Custom tweaks */
.about-banner {
    height: 300px; }
